

.container {
  background-color: #000;
  color: white;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;  
  width: 100vw;
  box-sizing: border-box;
}
.imageContainer {
  position: relative;
  width: 350px; 
  height: 90px;
}
.logo{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  
}

.subHeader {
  font-family: 'Inter', sans-serif;
  color:#C2C2C2;
}

.heroText {
  margin-top: 1% !important;
  color: #FFFFFF4A;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -4.19px;
  text-align: center;
  vertical-align: middle;
  width: 80%;
}

.heroHighlight {
  color: #fff;
}

/* Signup Section */
.signupContainer {
  background-color: #121212;
  border-radius: 40px 40px 0 0;
  margin: auto;
  width: 100vw;
  height: 55vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Inter';
}

.signupBox {
  /* border: 1px solid white; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1% ;
}
.formDet{
  /* border: 1px solid red; */
  width: 80%;
}
.formContainer {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 100%;
}

@media (min-width: 768px) {
  .formContainer {
    flex-direction: row;
  }
}

.inputField {
  background-color: #d9d9d9 !important;
  border-radius: 15px !important;
  width: 100% !important;
  padding: 0px 10px;
  height: 40px ;
  border:none;
  color: #000;
  font-size: medium;
}

.selectField {
  /* border: 1px solid white !important; */
  background-color: #d9d9d9 !important;
  border-radius: 15px !important;
  width: 100% !important;
  padding: 0px 10px;
  color: #000;
  height: 40px ;
  font-size: medium;
}

.submitButton {
  /* border: 1px solid white !important; */
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  font-weight: bold !important;
  text-transform: none !important;
  height: 40px ;
  border-radius: 15px !important;
  text-decoration: none;
  color: #000; 
  font-size:x-small; 
}

.submitButtonEnabled {
  background-color: #D1F801 !important;
  color: black !important;
  cursor: pointer;
  border: none;
}

.submitButtonDisabled {
  background-color: #d3f801c7 !important;
  border: none;
  cursor: not-allowed;
  color: black;
}

.successText{
  /* border: 1px solid red; */
  color:#D1F801;
}

.footerCaption {
  text-align: start;
  margin-top: 2rem;
  opacity: 0.6;
}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.socialLink{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  font-family: 'Inter';
  font-weight: 400;
  color:#FFFFFF4A;
}

.logo{
  width: 210px;
  height: 50px;
  margin-top: 1%;
}


@media (min-width:1550px) {
  
  .imageContainer{
    position: relative;
    width: 500px;
    height: 150px;
  }
  .logo{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
  .foot{
    height: 12%;
   }
  .socialLink{
    width: 15% !important;
  }
 
   .footerText{
    margin-top: 0.5% !important;
    letter-spacing: 5px !important;
   }
   .socialLink{
    width: 20%;
    height: 100%;
   }
   .heroText{
    padding-top: 2% !important;
    width: 90%;
   }
   .signupBox{
    height: 50%;
   }
   .formDet{
      height: 90%;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }
   .formContainer{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px !important;
   }
   .inputField, .selectField, .submitButton{
    height: 65px ;
    border-radius: 25px ;
    font-size: x-large !important;
   }

}

@media (max-width: 1000px){

  .logo{
    width: 400px;
    height: 800px;
    margin-top: 1%;
  }
  .subHeader {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 60%;
  }
  .heroText{
     margin-top: 10px !important;
  }
  .signupContainer{
    height: fit-content;
  }
  .socialLink{
    width: 20%;
  }
  .signupContainer{
    height: 50vh;
  }
  
}

@media (max-width: 769px){
  .logo{
    width: 130px;
    height: 40px;
    margin-top: 1%;
  }
  .subHeader{
    width: 60%;
  }
  .signupBox{
    width:70%;
    margin-top: 1%;
  }
  .heroText{
    margin-top: 10% !important;
    width: 90%;
  }
  .signupContainer{
    height: 50vh;
    justify-content: space-between;
  }
  .signupContainer:nth-child(1){
    margin-top: 1%;
  }
  .formContainer{
    padding: 10px 10px 0 10px;
    gap: 10px;
  }
  .inputField{
    width: 60%;
    height:35px;
  }
  .selectField{
    height: 35px;
  }
  .socialLink{
    width:22%;
  }
  .submitButton{
    height: 35px;
  }
}

@media (max-width: 600px){
  .logo{
    width:100px;
    height: 30px;
  }
  .socialLink{
    width: 25%;
  }
  .signupContainer{
   height: 50vh;
  }
  .heroText{
    margin-top: 13% !important;
  }
}

@media (max-width:500px) {
  .logo{
    margin-top: 4%;
    width: 80px;
    height: 20px;
  }
  .subHeader{
    width: 80%;
  }
  .heroText{
    margin-top: 2% !important;
  }
  .signupContainer{
    height: 55vh;
    justify-content: space-between;
  }
  .socialLink{
    width: 30%;
  }
  .signupBox{
    width: 80%;
  }
  .formDet{
    width: 99%;
  }
  .inputField, .selectField, .submitButton{
    height: 35px;
    border-radius: 10px !important;
    font-size:small;
    color: #000;
  }
  .submitButton{
    margin-bottom: 1%;
  }
  .footerText{
    margin-top: 1%;
  }
  .imageContainer{
    width: 200px;
  }
}
