.container {
  background-color: #000;
  color: white;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;  
  box-sizing: border-box;
}
.imageContainer {
  width: 350px; 
  height: 90px;
}
.logo{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

.subHeader {
  font-family: 'Inter';
  color:#C2C2C2;
}

.heroText {
  margin-top: 1% !important;
  color: #FFFFFF4A;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -4.19px;
  text-align: center;
  vertical-align: middle;
  width: 80%;
}

.heroHighlight {
  color: #fff;
}

.signupContainer {
  background-color: #121212;
  border-radius: 40px 40px 0 0;
  margin: auto;
  width: 100vw;
  height: 55vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Inter';
}
.labelContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self:center;
  text-align: center;
}

.signupBox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formDet{
  width: 80%;
}
.formContainer {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 100%;
}

@media (min-width: 768px) {
  .formContainer {
    flex-direction: row;
  }
}

.inputField {
  background-color: #d9d9d9 !important;
  border-radius: 15px !important;
  width: 100% !important;
  padding: 0px 10px;
  height: 35px ;
  border:none;
  color: #000;
  font-size: medium;
}

.selectField {
  background-color: #d9d9d9 !important;
  border-radius: 15px !important;
  width: 100% !important;
  padding: 0px 10px;
  color: #000;
  height: 35px ;
  font-size: medium;
}

.submitButton {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  font-weight: bold !important;
  text-transform: none !important;
  height: 35px ;
  border-radius: 15px !important;
  text-decoration: none;
  color: #000; 
  font-size:x-small; 
}

.submitButtonEnabled {
  background-color: #D1F801 !important;
  color: black !important;
  cursor: pointer;
  border: none;
}

.submitButtonDisabled {
  background-color: #d3f801c7 !important;
  border: none;
  cursor: not-allowed;
  color: black;
}

.successText{
  color:#D1F801;
}

.footerCaption {
  text-align: start;
  opacity: 0.6;
}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.socialLink{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  font-family: 'Inter';
  font-weight: 400;
  color:#FFFFFF4A;
  gap: 2%;
}

.logo{
  width: 210px;
  height: 50px;
  margin-top: 1%;
}
.followUs{
  font-size: 1rem !important;
}
.successBox{
  width: 60%;
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successText{
  font-size: 2rem !important;
}
@media (max-width:7680px) {
  .imageContainer{
    width: 30%;
    height: 10%;
  }
  .subHeader{
    font-size: 5rem !important;
  }
  .heroText{
    font-size: 25rem !important;
    width: 80% !important;
  }
  .upperLabel{
    font-size: 8rem !important;
  }
  .lowerLabel{
    font-size: 7rem !important;
   }
   .signupBox{
    height: 55%;
    width: 70%;
   }
   .formContainer{
    width: 80% !important;
    height: 30%;
    gap:2%;
   }
   .formDet{
     justify-content: space-between;
     height: 80%;
   }
   .inputField, .selectField, .submitButton{
    border-radius: 80px !important;
     font-size: 6rem !important;
     padding-left: 2.5% !important;
     height: 85% !important;
   }
   .footerText{
    font-size: 8rem !important;
   }
   .foot{
    height: 10%;
   }
   .footerCaption{
    font-size: 4rem !important;
  }
  .followUs{
    font-size: 4rem !important;    
  }
  .socialMedia{
    font-size: 12rem !important;
  } 
  .successBox{
    width: 60%;
    min-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .successText{
    font-size: 10rem !important;
  }
}
@media (max-width:5120px) {
  .imageContainer{
    width: 30%;
    height: 10%;
  }
  .subHeader{
    font-size: 5rem !important;
  }
  .heroText{
    font-size: 14rem !important;
  }
  .upperLabel{
    font-size: 5rem !important;
  }
  .lowerLabel{
    font-size: 4.5rem !important;
   }
   .signupBox{
    height: 55%;
    width: 70%;
   }
   .formContainer{
    width: 80% !important;
    height: 30%;
   }
   .formDet{
     justify-content: space-between;
     height: 80%;
   }
   .inputField, .selectField, .submitButton{
    border-radius: 80px !important;
     font-size: 4.5rem !important;
     padding-left: 2.5% !important;
     height: 85% !important;
   }
   .footerText{
    font-size: 5.5rem !important;
   }
   .foot{
    height: 10%;
   }
   .footerCaption{
    font-size: 2.2rem !important;
  }
  .followUs{
    font-size: 2.2rem !important;    
  }
  .socialMedia{
    font-size: 6rem !important;
  } 
  .successBox{
    width: 60%;
    min-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .successText{
    font-size: 7rem !important;
  }
}
@media (max-width:4096px) {
  .imageContainer{
    width: 30%;
    height: 10%;
  }
  .subHeader{
    font-size: 5rem !important;
  }
  .heroText{
    font-size: 14rem !important;
  }
  .upperLabel{
    font-size: 5rem !important;
  }
  .lowerLabel{
    font-size: 4.5rem !important;
   }
   .signupBox{
    height: 55%;
    width: 70%;
   }
   .formContainer{
    width: 80% !important;
    height: 30%;
   }
   .formDet{
     justify-content: space-between;
     height: 80%;
   }
   .inputField, .selectField, .submitButton{
    border-radius: 80px !important;
     font-size: 4.5rem !important;
     padding-left: 2.5% !important;
     height: 85% !important;
   }
   .footerText{
    font-size: 5.5rem !important;
   }
   .foot{
    height: 10%;
   }
   .footerCaption{
    font-size: 2.2rem !important;
  }
  .followUs{
    font-size: 2.2rem !important;    
  }
  .socialMedia{
    font-size: 6rem !important;
  } 
  .successBox{
    /* border: 1px solid red; */
    width: 60%;
    min-height: 55%;
   
  }
  .successText{
    font-size: 6rem !important;
  }
}
@media (max-width:3840px){
  .imageContainer{
   margin-top: 1%;
   width: 850px;
   height: 150px;
  } 
  .subHeader{
    font-size: 3rem !important;
  }
  .heroText{
   font-size: 11rem !important;
  }
  .signupBox{
   height: 60%;
   width: 75%;
  }
  .formContainer{
   width: 80% !important;
   height: 30%;
  }
  .formDet{
    justify-content: space-between;
    height: 80%;
  }
  .upperLabel{
   font-size: 4.5rem !important;
  }
  .lowerLabel{
   font-size: 4rem !important;
  }
  .inputField, .selectField, .submitButton{
   border-radius: 90px !important;
    font-size: 4.5rem !important;
    padding-left: 2.5% !important;
    height: 90% !important;
  }
  .socialLink{
   justify-content: center;
   gap: 1%;
  }
  .footerCaption{
   font-size: 2.2rem !important;
  }
  .socialMedia{
   font-size: 6rem !important;
  }
 
  .socialLink{
   justify-content: flex-end;
  }
  .followUs{
   font-size: 2.2rem !important;
  }
  .footerText{
   font-size: 5rem !important;
  }
  .successBox{
    width: 65%;
    min-height: 55%;
   
  }
  .successText{
    font-size: 5rem !important;
  }
}
@media (max-width:2560px){
 
  .formContainer{
   width: 90% !important;
   height: 30%;
  }
  .formDet{
    justify-content: space-between;
  }
  .inputField, .selectField, .submitButton{
   height: 100%;
   border-radius: 40px !important;
   font-size: 2.8rem !important;
   padding-left: 1.5% !important;
  }
  .heroText{
   font-size: 9rem !important;
  }
  .imageContainer{
   width: 700px;
   margin-top: 1% !important;
 }
 .subHeader{
   font-size: 2rem !important;
 }
  .upperLabel{
   font-size: 3rem !important;
  }
  .lowerLabel{
    font-size: 2rem !important;
  }
  .footerText{
   margin-top: 0px !important;
   font-size: 4rem !important;
  }
  .footerCaption{
   font-size: 1.5rem !important;
 }
 .socialLink{
    width: 18% !important;
  }
  .socialMedia{
   font-size: 4rem !important;
  }
  .followUs{
   font-size: 2rem !important;
  }
  .successBox{
    width: 65%;
    min-height: 55%;
   
  }
  .successText{
    font-size: 4rem !important;
  }
}
@media (max-width:1920px){
  .imageContainer{
    width: 400px;
    height: 100px;
    margin-top: 0.5% !important;
  }
  .subHeader{
   font-size: 2rem !important;
  }
  .heroText{
   font-size: 6rem !important;
  }
  .upperLabel{
    font-size: 2.5rem !important;
  }
  .lowerLabel{
    font-size: 1.8rem !important;
  }
  .footerText{
    font-size: 3rem !important;
  }
  .footerCaption{
    font-size: 1.2rem !important;
  }
  .socialLink{
    height: 100%;
    width: 25% !important;
  }
  .followUs{
    font-size: 1.2rem !important;
  }
  .socialMedia{
    font-size: 2.2rem !important;
  }
  .inputField, .selectField, .submitButton{
    font-size: 2rem !important;
  }
  .successText{
    font-size: 3.5rem !important;
  }
}
@media (max-width:1680px){
  
  .imageContainer{
    position: relative;
    width: 300px;
    height: 80px;
  }
  .subHeader{
    font-size: 1.2rem !important;
  }
  .upperLabel{
    font-size: 2rem !important;
  }
  .lowerLabel{
    font-size: 1.5rem !important;
  }
  .foot{
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    margin-top: 0.5% !important;
    letter-spacing: 5px !important;
   }
   .socialLink{
    width: 20%;
    height: 100%;
   }
   .heroText{
    width: 90%;
    font-size: 4.5rem !important;
    margin-top: 2% !important;
   }
   .signupBox{
    height: 50vh;
   }
   .formDet{
      height: 85%;
      width: 85%;
   }
   .formContainer{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px !important;
   }
   .inputField, .selectField, .submitButton{
    height: 100% !important ;
    border-radius: 25px ;
    font-size: 1.5rem !important;
    padding-left: 1.5rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerText{
    font-size: 2.5rem !important;
  }
  .footerCaption, .followUs{
    font-size: 0.8rem !important;
  }
  .socialMedia{
    font-size: 2rem !important;
  }
  .successText{
    font-size: 3rem !important;
  }
}
@media (max-width:1440px){
  
  .imageContainer{
    width: 250px;
    height: 70px;
  }
  .subHeader{
    font-size: 1.2rem !important;
  }
  .upperLabel{
    font-size: 1.2rem !important;
  }
  .lowerLabel{
    font-size: 1rem !important;
  }
  .foot{
    width: 95;
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    margin-top: 0.5% !important;
    letter-spacing: 5px !important;
   }
   .socialLink{
    width: 20%;
    height: 100%;
    margin-right: 1%;
   }
   .heroText{
    width: 90%;
    font-size: 3.8rem !important;
    margin-top: 1.5% !important;
   }
   .signupBox{
    height: 50vh;
   }
   .formDet{
      height: 80%;
      width: 85%;
   }
   .formContainer{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px !important;
   }
   .inputField, .selectField, .submitButton{
    height: 100% !important ;
    border-radius: 25px ;
    font-size: 1.2rem !important;
    padding-left: 1.2rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerText{
    font-size: 1.2rem !important;
  }
  .footerCaption, .followUs{
    font-size: 0.6rem !important;
  }
  .socialMedia{
    font-size: 1.5rem !important;
  }
  .successBox{
    width: 65%;
    min-height: 55%;   
  }
  .successText{
    font-size: 2.2rem !important;
  }
}
@media (max-width:1024px){
  
  .imageContainer{
    width: 280px;
  }
  .subHeader{
    font-size: 1.2rem !important;
  }
  .upperLabel{
    font-size: 1.8rem !important;
  }
  .lowerLabel{
    font-size: 1.2rem !important;
  }
  .foot{
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    font-size: 1.5rem !important;    
   }
   .socialLink{
    width: 20%;
    height: 100%;
   }
   .heroText{
    width: 90%;
    font-size: 4rem !important;
    margin-top: 2% !important;
   }
   .signupBox{
    height: 50vh;
   }
   .formDet{
      height: 85%;
      width: 85%;
   }
   .formContainer{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px !important;
   }
   .inputField, .selectField, .submitButton{
    height: 100% !important ;
    border-radius: 25px ;
    font-size: 1.2rem !important;
    padding-left: 1.5rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerCaption{
    font-size: 0.5rem !important;
  }
  .socialMedia{
    font-size: 2rem !important;
  }
  .successBox{
    width: 75%;
    min-height: 55%;
   
  }
  .successText{
    font-size: 1.8rem !important;
  }
}
@media (max-width:768px){
  
  .imageContainer{
    width: 280px;
  }
  .subHeader{
    font-size: 1rem !important;
  }
  .upperLabel{
    font-size: 1.3rem !important;
  }
  .lowerLabel{
    font-size: 0.9rem !important;
  }
  .foot{
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    font-size: 1.3rem !important;    
   }
   .socialLink{
    width: 20%;
    height: 100%;
   }
   .heroText{
    width: 90%;
    font-size: 3rem !important;
    margin-top: 5% !important;
   }
   .signupBox{
    height: 50vh;
   }
   .formDet{
      height: 85%;
      width: 97%;
   }
   .formContainer{
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px !important;
   }
   .inputField, .selectField, .submitButton{
    height: 100% !important ;
    border-radius: 25px ;
    font-size: 1.2rem !important;
    padding-left: 1.5rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerCaption{
    font-size: 0.5rem !important;
  }
  .socialMedia{
    font-size: 2rem !important;
  }
  .successBox{
    width: 75%;
    min-height: 55%;
   
  }
  .successText{
    font-size: 1.2rem !important;
  }
}
@media (max-width:480px){
  
  .imageContainer{
    width: 220px;
  }
  .subHeader{
    font-size: 0.6rem !important;
  }
  .upperLabel{
    font-size: 0.8rem !important;
  }
  .lowerLabel{
    width: 95% !important;
    font-size: 0.6rem !important;
  }
  .foot{
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    font-size: 1rem !important; 
    letter-spacing: normal !important;   
   }
   .socialLink{
    width: 35%;
    height: 100%;
   }
   .heroText{
    width: 95%;
    font-size: 2rem !important;
    margin-top: 2% !important;
   }
   .formDet{
      height: 85%;
      width: 97%;
   }
   .formContainer{
    height: 33%;
    display: flex;
    flex-direction: column;
    gap: 13% !important;
   }
   .inputField, .selectField, .submitButton{
    height: 45% !important ;
    border-radius: 25px ;
    font-size: 1rem !important;
    padding-left: 1.2rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerCaption{
    font-size: 0.4rem !important;
  }
  .socialLink{
    width: 35% !important;
  }
  .socialMedia{
    font-size: 1.5rem !important;
  }
  .successBox{
    width: 85%;   
  }
  .successText{
    font-size: 1rem !important;
  }
}
@media (max-width:320px){
  
  .imageContainer{
    width: 150px;
  }
  .subHeader{
    font-size: 0.5rem !important;
  }
  .upperLabel{
    font-size: 0.8rem !important;
  }
  .lowerLabel{
    width: 80% !important;
    font-size: 0.6rem !important;
  }
  .foot{
    margin-bottom: 5px !important;
    height: 12%;
   }
   .footerText{
    font-size: 1rem !important; 
    letter-spacing: normal !important;   
   }
   .socialLink{
    width: 35%;
    height: 100%;
   }
   .heroText{
    width: 90%;
    font-size: 1.8rem !important;
    margin-top: 2% !important;
   }
   .formDet{
      height: 85%;
      width: 97%;
   }
   .formContainer{
    height: 33%;
    display: flex;
    flex-direction: column;
    gap: 13% !important;
   }
   .inputField, .selectField, .submitButton{
    height: 45% !important ;
    border-radius: 25px ;
    font-size: 1.2rem !important;
    padding-left: 1.5rem !important;
   }
   .formDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .formContainer{
    justify-content: center;
   }
  .footerCaption{
    font-size: 0.4rem !important;
  }
  .socialLink{
    width: 35% !important;
  }
  .socialMedia{
    font-size: 1rem !important;
  }
  .successBox{
    width: 85%;   
  }
  .successText{
    font-size: 0.8rem !important;
  }
}